table {
    width: 100%;
    border-spacing: 1em 0.5em; 
} 



td.card {
    width: 90%;
    border: 1px solid #ddd; 
    border-radius: 8px;
    padding: 8px; 
    background-color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out;
}

.title {
    font-size: 2em;
    
}
.completed {
    text-decoration:line-through;
}
.title~div {
    font-size: small;
    color: gray;
    margin-top: 0.5em;
}
.delete-button {
    cursor: pointer;
    width: 2.2em;
    height: 2.2em;
    stroke: black;
    stroke-width: 2;
    stroke-linecap : round;
    stroke-linejoin : round;
    margin-left: 0%;
    align-content: center;
    vertical-align: middle;
}

.delete-button:hover path {
    stroke: red;
}
