h1 {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

.container {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    
}
.dropdown{
    z-index: 20;
}
app-custom-input {
    width: 85%;
}

app-custom-button {
    width: 10%;
}

app-todo-list {
    margin-bottom: 7em;
} 

app-todo-sidebar {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

app-custom-loading {
    position: absolute;      
    top: 50%;                
    left: 50%;    
    transform: translate(-50%, -50%);
}


@media (max-height: 220px) {
    app-todo-sidebar {
        display: none
    }
}

