.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 20px;
    right: 20px;
}

.circular-button, #more-button {
    border: none;
    border-radius: 50%; /* Circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s ease;
}

.circular-button {
    background-color: var(--primary-color);   
    width: 5em; 
    height: 5em; 
    margin-top: 0.5em;
    pointer-events: all;
}

.icon {
    width: 2.5em;
    height: 2.5em; 
}
#more-button > .icon {
    fill: white;   
}

#sign-out polyline, #sign-out line, #sign-out path {
    stroke: white;
}

#add line {
    stroke: white;
}

#copy path {
    fill: white;
}
#more-button {
    width: 3em;
    height: 3em;
    background: rgb(88, 50, 177);
    pointer-events: all;
}

#more-button:active {
    background: rgb(129, 90, 220);
}
.circular-button:active {
    background-color: #54a4fa;
}

.pointer-events-disabled {
    pointer-events: none;
}

@media (max-height: 500px){
    .sidebar {
        flex-direction: row;
    }
    .circular-button {
        margin-left: 0.5em;
        margin-top: 0em;
    }

    @media (max-height: 320px){
        .sidebar {
            display: none;
        }
    }    
}